html, body {
    font-family: cursive;
    margin: 20px;
   padding: 0;
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(7132.jpg);
    background-size: cover;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 320px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    opacity: 0.88;
}

h1 {
    text-align: center;
}

.input-area {
    display: flex;
    margin-bottom: 15px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#addBtn {
    padding: 10px 15px;
    border: none;
    background: #007bff;
    color: white;
    margin-left: 5px;
    border-radius: 4px;
    cursor: pointer;
}

#addBtn:hover {
    background: #0056b3;
}

#addBtn:active {
    transform: scale(1.1);
    transition: 0.2s;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    padding: 10px 40px 10px 40px;
    margin-bottom: 8px;
    border-radius: 4px;
    background: #f0f0f0;
    cursor: pointer;
    position: relative;
}

/* Checkbox icon */
li::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    height: 20px;
    width: 20px;
    background-image: url('unchecked.png');
    background-size: cover;
    background-position: center;
}

/* checked */
li.checked {
    text-decoration: line-through;
    color: #aaa;
}

li.checked::before {
    background-image: url('check.png');
}

.delete-btn {
    position: absolute;
    right: 10px;
    top: 7px;
    background: rgb(247, 68, 68);
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn:hover {
    background: darkred;
}
