table{
    border: 2px solid black;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.63);
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
th,td{
    border: 2px solid black;
    text-align: center;
}

.logo{
    height: min-content;
    width: 150px;
}

a{
    text-decoration: none;
    color: black;
}
html{
    background-image: url(library\ of\ books.jpg);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size:cover;
}