html, body {
      margin: 0;
      height: 100%;
      width: 100%;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
    }

 table, th, td {
            border: 2px solid black;
            border-collapse: collapse;
            text-align: center;
        }
table{
            width: 100%;
            height: 100%;
        }
 th, td {
            padding: 5px;
            text-align:center;
        }
th {
            text-align: left;
        }
img{
            width: 80px;
            height: 70px;
        }
#add{
            padding: 3px;
            background-color: yellow;
            border: solid black 2px;
            cursor: pointer;
             box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        }
#add:hover{
            background-color: orange;
        transform: scale(1.1);
        transform-style:ease-in-out;
        transition-duration: 0.3s;
        }

button{
    padding: 10px 25px;
    border-radius: 9px;
}
button:hover{
    background-color: yellow;
    transform: scale(1.1);
    transform-style:linear;
    transition-duration: 0.3s;
}
button:active{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

a{
    text-decoration: none;
    color: blue;
}
a:hover{
    text-decoration: underline;
    color: darkblue;
}
a:active{
    color: red;
}
a:visited{
    color: purple;
}
a:link{
    color: crimson;
}
#profile{
    border: 2px solid black;
    height: 600px;
    width: 650px;
    margin: auto;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgba(214, 240, 234, 0.589);
}
